[Unit]
Description=GitHub Actions Runner for rolean.org
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/harry/actions-runner
ExecStart=/home/harry/actions-runner/run.sh
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=300
Environment=PATH=/home/harry/.npm-global/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=default.target
